<header class="header">
  <div class="branding">
       <li class="nav-link">
         <img src="../assets/images/Hum_Logo_R_Drk_Green_RGB.png" href="javascript:void(0)"  width="100" height="45"  alt=""> 
        </li>
          <a href="#" class="nav-link">
          <span class="title">Project NPD MF-1</span>
          </a>
  </div>
  <div class="header-actions">
      <clr-dropdown>
        <button clrDropdownTrigger class="nav-text"  aria-label="open user profile">
          hpatil4@humana.com 
            <clr-icon shape="user" class="is-solid" size="35"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a clrDropdownItem href="#" >About</a>
            <a clrDropdownItem href="..." >Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
  </div>
</header>


<nav class="subnav">
  <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" > Playbook Mapping Screen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Group Override</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" >Reports</a>
      </li>
    </ul>
</nav>