 <!-- <footer class="page-footer ">
    <div class="footer-copyright text-center py-3 foot-color  ">© 2020 Copyright:
      <a href=""> www.humana.com</a>
    </div>
  
  </footer>
  -->

  <footer class=" site-footer ">
      <div>
          <hr>
        </div>
        <div class="container">
          <div class="col-md-8 col-sm-6 col-xs-12">
           <P class="copyright-text">
            &copy; 2020 HUMANA.COM. All rights reserved. Version 0.0.1.1019874 DEV
          </div>
       </div>
  </footer>