<div class="wrapper clr-form  clr-form-horizontal my-3 bg-grey">
  <h1>Group Override</h1>

 <div style="text-align: center; overflow: hidden;">
	<form [formGroup]="form" (ngSubmit)="submit()"  >
        <formly-form [model]="model" [fields]="fields"  [form]="form"></formly-form>
      <div>
        <button type="submit" class="btn btn-primary " [disabled]="!form.valid">Save</button>
        <button type="reset" class="btn cancel-button " (click)="resetAlert()" >Reset</button>
        <button type="cancel" class="btn cancel-button " (click)="cancelAlert()" >Cancel</button>

      </div>
    </form>
      
</div>

<br/><br/>
<div>
	<pre> {{model | json }} </pre>
</div>

</div>
